@using FPTBook.Data
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using System.Diagnostics;

<!DOCTYPE html>
<html lang="en">

<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>@ViewData["Title"] - FPTBook</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link type="text/css" href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<!-- style css -->
<link type="text/css" href="~/assets/css/style.css" rel="stylesheet" />
<!-- Responsive-->
<link href="~/assets/css/responsive.css" rel="stylesheet" />
<!-- fevicon -->
<!-- Scrollbar Custom CSS -->
<link href="~/assets/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- owl stylesheets -->
<link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<body>
    @{

        string currentRoute = HttpContextAccessor.HttpContext.Request.Path;
        Debug.WriteLine(currentRoute);
    }

    <div class="header_section">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="logo" href="/"><img src="~/assets/images/logo.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @{
                        if (User.IsInRole("CUSTOMER"))
                        {
                            <li class="nav-item">
                                <a style="@(currentRoute == "/Book" ? "color: #df9911;":"")" class="nav-link ms-0" asp-controller="Book" asp-action="Index">All Books</a>
                            </li>
                        }

                    }
                    @if (!User.IsInRole("ADMIN") && !User.IsInRole("OWNER"))
                    {
                        <li class="nav-item">
                            <a style="@(currentRoute == "/HomePage/FAQ" ? "color: #df9911;":"")" class="nav-link ms-0" asp-controller="Home" asp-action="FAQ">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a style="@(currentRoute == "/Home/AboutUs" ? "color: #df9911;":"")" class="nav-link ms-0" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a style="@(currentRoute == "/Home/Contact" ? "color: #df9911;":"")" class="nav-link ms-0" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    }

                    @if (User.IsInRole("ADMIN"))
                    {
                        <li class="nav-item">
                            <a style="@(currentRoute == "/User/ViewCustomer" ? "color: #df9911;":"")" class="nav-link ms-0" asp-controller="User" asp-action="ViewCustomer">Manage Customer</a>
                        </li>
                        <li class="nav-item">
                            <a style="@(currentRoute == "/User/ViewOwner" ? "color: #df9911;":"")" class="nav-link ms-0" asp-controller="User" asp-action="ViewOwner">Manage Store Owner</a>
                        </li>
                        <li class="nav-item">
                            <a style="@(currentRoute == "/CategoryRequest" ? "color: #df9911;":"")" class="nav-link ms-0" asp-controller="BookCategory" asp-action="Index">Manage Category Request</a>
                        </li>


                    }

                    @if (User.IsInRole("OWNER"))
                    {
                        <li class="nav-item">
                            <a style="@(currentRoute == "/Book" ? "color: #df9911;":"")" class="nav-link ms-0" asp-controller="Book" asp-action="Index">Manage Books</a>
                        </li>
                        <li class="nav-item">
                            <a style="@(currentRoute == "/Order" ? "color: #df9911;":"")" class="nav-link ms-0" asp-controller="Order" asp-action="Index">Manage Orders</a>
                        </li>
                        <li class="nav-item">
                            <a style="@(currentRoute == "/Category" ? "color: #df9911;":"")" class="nav-link ms-0" asp-controller="BookCategory" asp-action="Index">Manage Category</a>
                        </li>

                    }

                </ul>

                <partial name="_LoginPartial" />
            </div>
        </nav>
    </div>
    @RenderBody()
    </div>
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="footer_menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="movies.html">Fiction</a></li>
                    <li><a href="tv.html">Comics</a></li>
                    <li><a href="celebs.html">Phisology</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Horror and supernatural</a></li>
                </ul>
            </div>
            <div class="social_icon flex">
                <ul>
                    <i class="fa-brands fa-facebook fa-light fa-2xl"></i>
                    <i class="fa-brands fa-github fa-light fa-2xl"></i>
                    <i class="fa-brands fa-linkedin fa-light fa-2xl"></i>
                    <i class="fa-brands fa-square-instagram fa-light fa-2xl"></i>
                </ul>
            </div>
        </div>
    </div>
    <!-- Javascript files-->
    <script type="module" src="~/js/nostalgia.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>