@model List<Category>

@{
    ViewBag.Title = "Category";
    Layout = "_Layout";
}

@*<h1 class="text-dark mb-4">Categories</h1>
    <div class="card-header py-3 ">
    <button type="button" class="btn btn-info">
    <a class="text-primary m-0 font-weight-bold" asp-controller="CategoryRequest" asp-action="Create">Create</a>
    </button>
    </div>

    <table class="table my-0" id="dataTable">
    <thead>
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model){
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
    </tr>
    }
    </tbody>
    </table>*@

<div class="container">
    <h1 class="text-center"><strong>List of&nbsp;Category</strong></h1>
    <div class="col-md-12 search-table-col" style="padding-top: 0px;margin-top: 0px;">
        <button class="btn btn-primary" type="button">
            <a class="text-white m-0 font-weight-bold" style="text-decoration: none" asp-controller="CategoryRequest"
                asp-action="Create">ADD REQUESTS&nbsp;</a>
        </button>
        <div class="table-responsive table table-hover table-bordered results">
            <table class="table table-hover table-bordered">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd-1" class="col-lg-1">No.</th>
                        <th id="trs-hd-2" class="col-lg-2">NAME</th>
                        <th id="trs-hd-3" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @if (Model == null || !Model.Any())
                    {
                        <tr class="warning no-result">
                            <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                        </tr>
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td><span
                                style="color: rgb(33, 37, 41); background-color: var(--bs-table-bg);">@Html.DisplayFor(modelItem
                                => item.Name)</span><br></td>
                            <td>
                                <a class="btn btn-success" style="text-decoration: none" asp-action="Update"
                                asp-route-id="@item.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="btn btn-info" style="text-decoration: none" asp-action="Detail"
                                asp-route-id="@item.Id">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a class="btn btn-danger" style="text-decoration: none" asp-action="Delete"
                                asp-route-id="@item.Id">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
