@model IQueryable<Order>

@{
    ViewBag.Title = "Order Details - FPT Book Program";
    Layout = "_Layout";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 30px;
        background-color: #f5f5f5;
    }

    thead {
        background-color: #007aff;
        color: #fff;
    }

    th,
    td {
        padding: 10px 15px;
        text-align: center;
    }

        th:first-child,
        td:first-child {
            padding-left: 0;
            text-align: center;
        }

        th:last-child,
        td:last-child {
            padding-right: 0;
            text-align: center;
        }

    tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    tr:hover {
        background-color: #d9d9d9;
    }

    .text-right {
        text-align: right;
    }

    .img-thumbnail {
        max-width: 100px;
    }

</style>
<div class="container">
    <h1 class="text-center">Order Details</h1>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var totalPrice = 0;
                        @foreach (var order in Model)
                        {
                            foreach (var item in order.OrderOrderedBooks)
                            {
                                var subTotal = item.OrderedBook.Book.Price * item.OrderedBook.Quantity;
                                <tr>
                                    <td><img src="@item.OrderedBook.Book.Image" alt="@item.OrderedBook.Book.Title" class="img-thumbnail" /></td>
                                    <td>@Html.DisplayFor(modelItem => item.OrderedBook.Book.Title)</td>
                                    <td class="text-center">@item.OrderedBook.Quantity</td>
                                    <td class="text-center">@item.OrderedBook.Book.Price</td>
                                    <td class="text-center">@subTotal</td>
                                </tr>
                                totalPrice += subTotal;
                            }
                            <tr>
                                <td colspan="4" class="text-right"><span style="font-size: 20px; color: orange;">Total Price:</span></td>
                                <td class="text-center"><span style="font-size: 20px; color: orange;">@totalPrice</span></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
