@using Microsoft.AspNetCore.Identity
@using FPTBook.Data
@model FPTBook.ViewModels.OrdersDetail
@inject UserManager<ApplicationUser> _userManager

@{
    ViewBag.Title = "Order";
    Layout = "_Layout";
}


<div class="container">
    <h1 class="text-center"><strong>List of Orders</strong></h1>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer</th>
                            <th>Total Price</th>
                            <th>Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Orders == null || !Model.Orders.Any())
                        {
                            <tr>
                                <td colspan="5" class="text-center"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                            </tr>
                        }
                        @foreach (var item in Model.Orders)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.Fullname)</td>
                                <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                <td>
                                    @Html.ActionLink("Detail", "Detail", "Order", new { orderId = item.Id, userId = item.UserId }, new { @class = "btn btn-info" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
