@using Microsoft.AspNetCore.Identity
@using FPTBook.Data
@model FPTBook.ViewModels.OrdersDetail
@inject UserManager<ApplicationUser> _userManager

@{
    ViewBag.Title = "Order";
    Layout = "_Layout";
}


<div class="container">
    <h1 class="text-center"><strong>List of Orders</strong></h1>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer</th>
                            <th>Total Price</th>
                            <th>Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Orders == null || !Model.Orders.Any())
                        {
                            <tr>
                                <td colspan="5" class="text-center"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                            </tr>
                        }
                        @foreach (var item in Model.Orders)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.ApplicationUser.Fullname)</td>
                                <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                <td>
                                    @Html.ActionLink("Detail", "Detail", "Order", new
                                {
                                orderId = item.Id,
                                userId = item.UserId,
                                }, new
                                {
                                @class = "btn btn-info"
                                })
                                    @*<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-ticket-detailed">
                                <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13ZM4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"></path>
                                </svg>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
