@using Microsoft.AspNetCore.Identity
@using FPTBook.Data
@model FPTBook.ViewModels.OrdersDetail
@inject UserManager<ApplicationUser> _userManager

@{
    ViewBag.Title = "Order";
    Layout = "_Layout";
}


<div class="container">
    <h1 class="text-center"><strong>List of OrderS</strong></h1>
    <div class="col-md-12 search-table-col" style="padding-top: 0;margin-top: 0">
        <div class="table-responsive table table-hover table-bordered results">
            <table class="table table-hover table-bordered">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd-1" class="col-lg-1">OrderID</th>
                        @if (User.IsInRole(Role.Owner))
                        {
                            <th id="trs-hd-2" class="col-lg-2">Customer</th>
                        }
                        <th id="trs-hd-4" class="col-lg-2">Total Price</th>
                        <th id="trs-hd-3" class="col-lg-3">Created At</th>
                        <th id="trs-hd-6" class="col-lg-2">Action</th>
                    </tr>
                </thead>
                <tbody style="text-align: center">
                @{
                    @foreach (var item in Model.Orders)
                    {
                        <tr class="warning no-result">
                            <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            @if (User.IsInRole(Role.Owner))
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationUser.Fullname)
                                </td>
                            }
                            <td>
                                <span style="color: rgb(33, 37, 41);">@Html.DisplayFor(modelItem => item.TotalPrice)</span>
                            </td>
                            <td><span style="color: rgb(33, 35, 41);">@Html.DisplayFor(modelItem => item.CreatedAt)</span><br></td>
                            <td>
                                @Html.ActionLink("Detail", "Detail", "Order", new
                                  {
                                      orderId = item.Id,
                                      userId = item.UserId,
                                  }, new
                                  {
                                      @class = "btn btn-info"
                                  })
                                @*<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-ticket-detailed">
                                    <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13ZM4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"></path>
                                </svg>*@
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>