@model List<FPTBook.Models.CategoryRequest>

@{
    ViewBag.Title = "Category Requests";
    Layout = "_Layout";
}

<div class="container">
    <h1 class="text-center mb-5">Category Requests</h1>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="bg-primary text-light">
                    <tr>
                        <th class="col-lg-1">#</th>
                        <th class="col-lg-3">Category Request Name</th>
                        <th class="col-lg-2">Time</th>
                        @if (User.IsInRole("ADMIN"))
                        {
                            <th class="col-lg-2">Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model == null || !Model.Any())
                    {
                        <tr class="text-center">
                            <td colspan="4"><i class="fa fa-warning"></i>&nbsp; No results found.</td>
                        </tr>
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                            @if (User.IsInRole("ADMIN"))
                            {
                                <td>
                                    <a class="btn btn-success" asp-action="Confirm" asp-route-id="@item.Id" onclick="showMessage('Request approved.')">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    <a class="btn btn-danger" asp-action="Reject" asp-route-id="@item.Id" onclick="showMessage('Request rejected.')">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            }

                            <script>
                                function showMessage(message) {
                                    alert(message);
                                }
                            </script>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
