@model List<FPTBook.Models.CategoryRequest>

@{
    ViewBag.Title = "Category Request";
    Layout = "_Layout";
}

<div class="container">
    <h1 class="text-center"><strong>Request List</strong><br></h1>
    <div class="col-md-12 search-table-col" style="padding-top: 0px;margin-top: 0px;">
        <div class="table-responsive table table-hover table-bordered results">
            <table class="table table-hover table-bordered">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd-1" class="col-lg-1">STT</th>
                        <th id="trs-hd-2" class="col-lg-3">Name of category request</th>
                        <th id="trs-hd-3" class="col-lg-2">Time</th>
                        @if (User.IsInRole(Role.Admin))
                        {
                            <th id="trs-hd-4" class="col-lg-2">Action</th>
                        }

                    </tr>
                </thead>
                <tbody class="text-center">
                    @if (Model == null || !Model.Any())
                    {
                        <tr class="warning no-result">
                            <td colspan="12"><i class="fa fa-warning"></i>&nbsp; No Result !!!</td>
                        </tr>
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>
                                <span style="color: rgb(33, 37, 41);">@(Html.DisplayFor(modelItem => item.Name))</span><br>
                            </td>
                            <td>
                                <span style="color: rgb(33, 37, 41); background-color: var(--bs-table-bg);">
                                    @Html.DisplayFor(modelItem
                                => item.CreatedAt)
                                </span><br>
                            </td>
                            @if (User.IsInRole(Role.Admin))
                            {
                                <td>
                                    <a class="btn btn-success" asp-action="Confirm" asp-route-id="@item.Id" onclick="return alert('Request has been approved')">
                                        <i class="fas fa-edit" style="font-size: 15px"></i>
                                    </a>
                                    <a class="btn btn-danger" asp-action="Reject" asp-route-id="@item.Id" onclick="return alert('Request has been rejected')">
                                        <i class="fa fa-trash" style="font-size: 15px"></i>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>