@using FPTBook.Data
@using Microsoft.AspNetCore.Identity
@model List<Book>
@inject UserManager<ApplicationUser> _userManager;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="container">
        <div class="simple-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="
                                            background: url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png')
                                              center center / cover no-repeat;
                                          ">
                        <img class="img-fluid" src="/assets/img/Books_Web_Slider.jpg?h=3d2bbf29c82fb14ab7f8681d9d0c3add"/>
                    </div>
                    <div class="swiper-slide" style="background: url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png') center center / cover no-repeat;">
                        <img class="img-fluid" src="/assets/img/austin-macauley-international-womens-day_1.jpg?h=6590df5912e1695828ecf0308355486d"/>
                    </div>
                    <div class="swiper-slide" style="
                        background: url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png')
                          center center / cover no-repeat;
                      ">
                        <img class="img-fluid" src="/assets/img/2061292757_73e8ef5397_b.jpg?h=9fb1eb30b5b8a8e4752617c8a9ec73a8"/>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        @if (User.IsInRole(Role.Owner))
        {
            <h1 class="text-center">WELCOME STORE OWNER</h1>
        }
        else if (User.IsInRole(Role.Admin))
        {
            <h1 class="text-center">WELCOME ADMIN</h1>
        }
        else
        {
            <h1 class="text-center">WELCOME TO FPT BOOK STORE!</h1>
        }
    </div>

    @if (User.IsInRole(Role.Owner))
    {
        <div class="container">
        </div>
        <div class="btn-toolbar" style="display: flex; justify-content: space-around;">
            <div class="btn-group" role="group"><a class="btn btn-primary" role="button" asp-controller="Book" asp-action="Index">MANAGE BOOKS</a></div>
            <div class="btn-group" role="group"><a class="btn btn-primary" role="button" asp-controller="Order" asp-action="Index">MANAGE ORDERS</a></div>
            <div class="btn-group" role="group"><a class="btn btn-primary" role="button" asp-controller="Category" asp-action="Index">MANAGE CATEGORY</a></div>
        </div>
    }
    else if (User.IsInRole(Role.Admin))
    {
        <div class="btn-toolbar" style="display: flex; justify-content: space-around;">
            <div class="btn-group" role="group"><a class="btn btn-primary" role="button" asp-controller="User" asp-action="ViewCustomer">MANAGE Customer</a></div>
            <div class="btn-group" role="group"><a class="btn btn-primary" role="button" asp-controller="User" asp-action="ViewOwner">MANAGE Store Owner</a></div>
            <div class="btn-group" role="group"><a class="btn btn-primary" role="button" asp-controller="CategoryRequest" asp-action="Index">MANAGE Category Request</a></div>
        </div>
    }
    else
    {
        <div class="container">
            <div data-reflow-type="product-list" data-reflow-layout="cards" data-reflow-order="date_desc" data-reflow-show="image,name,excerpt,price,pagination">
                <div class="reflow-product-list ref-cards">
                    <div class="ref-products">
                        @{
                            foreach (var item in Model.GetRange(0, 4))
                            {
                                var userId = _userManager.GetUserId(User);
                                <div class="ref-product">
                                    <div class="ref-media">
                                        <a asp-controller="Book" asp-action="Detail" asp-route-id="@item.Id">
                                            <img class="ref-image" src="@item.Image" loading="lazy"/>
                                        </a>
                                    </div>
                                    <div class="ref-product-data">
                                        <div class="ref-product-info">
                                            <h5 class="ref-name">
                                                <a asp-controller="Book" asp-action="Detail" asp-route-id="@item.Id" style="text-decoration: none;">
                                                   @item.Title
                                                </a>
                                            </h5>
                                            <p class="ref-excerpt"></p>
                                        </div>
                                        <strong class="ref-price">$@item.Price</strong>
                                    </div>
                                    <div class="ref-addons text-center">
                                        @Html.ActionLink("Detail", "Detail", "Book", new
                                        {
                                            id = item.Id
                                        }, new
                                        {
                                            @class = "ref-button preview-toggle"
                                        })
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="text-align: end;">
            <a style="color: #FFFFFF;" class="btn btn-info" asp-controller="Book" asp-action="Index">&rarr; More book</a>
        </div>
    }
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
<script src="/assets/js/script.min.js?h=e679bb57f5bcc8219774429d7834ccc3"></script>


