@using Microsoft.AspNetCore.Identity
@model List<OrderedBook>
@inject UserManager<ApplicationUser> _userManager
@{
    ViewBag.Title = "Cart Details";
    Layout = "_Layout";
}

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Checkout Proceed</h5>
                    </div>
                    <div class="card-body">
                        @{
                            float total = 0;
                            int totalQuantity = 0;
                        }
                        @foreach (var item in Model)
                        {
                            if (!item.IsOrdered)
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <!-- Image -->
                                        <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                            <img src="@item.Book.Image" loading="lazy" class="img-fluid rounded-3" style="width: 120px;"
                                                 alt="Book" />
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                        <!-- Image -->
                                    </div>

                                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                        <p>
                                            <strong>
                                                @Html.DisplayFor(modelItem => item.Book.Title)
                                            </strong>
                                        </p>
                                    </div>

                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- Quantity -->
                                        <div class="d-flex mb-4" style="max-width: 300px">
                                            <td class="align-middle" id="quantity">
                                                <a class="value-button" asp-controller="Cart" asp-action="DecreaseQuantity" asp-route-id=@item.Id id="decrease">-</a>
                                                <input type="number" disabled="disabled" id="number" value="@item.Quantity" />
                                                <a class="value-button" asp-action="IncreaseQuantity" asp-controller="Cart" asp-route-id=@item.Id id="increase">+</a>
                                            </td>
                                        </div>
                                        <!-- Quantity -->
                                        <!-- Price -->
                                        @{
                                            float subtotal = @item.Book.Price * @item.Quantity;
                                            total += subtotal;
                                            totalQuantity += item.Quantity;
                                        }
                                        <p class="align-middle red-text">
                                            Total price: $@subtotal
                                        </p>
                                        <hr>
                                        <div style="display: flex; align-items: center;">
                                            <p class="text-start text-md-center">
                                                <strong>
                                                    $@Html.DisplayFor(modelItem => item.Book.Price)
                                                </strong>
                                            </p>
                                            <a asp-controller="Cart" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"
                                               onclick="return confirm('Are you sure you want to delete this book: @item.Book.Title?')">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </div>

                                        <!-- Price -->
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            @{
                                var userId = _userManager.GetUserId(User);
                                <div style="display: flex; flex-direction: column; justify-content: center;">
                                    <div>
                                        @if (@totalQuantity <= 1)
                                        {
                                            <p style="margin: 0; text-align: center">Total (@totalQuantity item):</p>
                                        }
                                        else
                                        {
                                            <p style="margin: 0; text-align: center">Total (@totalQuantity items):</p>
                                        }
                                        &nbsp;
                                        <h1 style="margin: 0; text-align: center">$@total</h1>
                                    </div>
                                    @if (@totalQuantity > 0)
                                    {
                                        <a type="button" class="btn btn-primary btn-lg" asp-controller="Order" asp-action="CheckoutProceed" asp-route-id="userId">
                                            Checkout
                                        </a>
                                    }
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  