@using Microsoft.AspNetCore.Identity
@model BookDetail
@inject UserManager<ApplicationUser> _userManager;

@{
    ViewBag.Title = "FPTBook - Book Details";
    Layout = "_Layout";
}
<style>
    body {
        font-family: 'Roboto', sans-serif;
    }
</style>
<div class="container-fluid">
    <div class="p-3 main-section bg-white text-center">
        <div class="row m-0">
            <div class="col-lg-4 left-side-product-box pb-3">
                <img class="ref-image active"
                     src="@Model.Book.Image"
                     data-reflow-preview-type="image"
                     style="margin-top: 20px" />
            </div>
            <div class="col-lg-8">
                <div class="right-side-pro-detail border p-3 m-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="m-0 p-0 text-success" style="font-size: 36px;">@Model.Book.Title</h2>
                        </div>
                        <div class="col-lg-12">
                            <h4 class="m-0 p-0 price-pro text-success" style="font-size: 24px;">$@Model.Book.Price</h4>
                        </div>
                        <div class="col-lg-12 pt-2">
                            <hr />
                            <h5>Product Detail</h5>
                            <span class="text-dark">
                                @Model.Book.Summary
                            </span>
                            <hr class="m-0 pt-2 mt-2">
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="row">
                                @{
                                    var userId = _userManager.GetUserId(User);
                                    if (User.IsInRole("OWNER"))
                                    {
                                        <a asp-action="Update" asp-controller="Book" asp-route-id="@Model.Book.Id" class="btn btn-primary preview-toggle">Update</a>
                                        <a asp-action="Delete" asp-controller="Book" asp-route-id="@Model.Book.Id" class="btn btn-danger preview-toggle">Delete</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Create" asp-controller="Cart" asp-route-bookId="@Model.Book.Id" asp-route-userId="@userId" class="btn btn-success">Add to Cart</a>
                                    }
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
